<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Chat-Room</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <div class="content">
        <div class="message-box">
            <h2>Chat-Room: {{code}}</h2>
            <div class="messages" id="messages"></div>
            <div class="inputs">
                <input type="text" rows="3" placeholder="Message" name="message" id="message" />
                <button type="button" name="send" id="send-btn" onClick="sendMessage()"> <strong>Send</strong> </button>
            </div>
        </div>
        
        
        <script type="text/javascript">
            var socketio = io();
            const sessionName = "{{ session_name }}";  
            const messages = document.getElementById("messages");
        
            const createMessage = (name, msg, type) => {
                const messageClass = type === "sent" ? "sent" : "received";
                const content = `
                <div class="text ${messageClass}">
                    <span>
                        <strong>${name}</strong>: ${msg}
                    </span>
                    <span class="muted">
                        ${new Date().toLocaleString()}
                    </span>
                </div>
                `;
                messages.innerHTML += content;
                messages.scrollTop = messages.scrollHeight; 
            };
          
            socketio.on("message", (data) => {
                const messageType = data.name === sessionName ? "sent" : "received";
                createMessage(data.name, data.message, messageType);
            });
          
            const sendMessage = () => {
                const message = document.getElementById("message");
                if (message.value == "") return;
                socketio.emit("message", { data: message.value });
                message.value = ""; 
            };
        </script>
        
        {% for msg in messages %}
            <script type="text/javascript">
                const messageType = "{{msg.name}}" === sessionName ? "sent" : "received";
                createMessage("{{msg.name}}", "{{msg.message}}", messageType);
            </script>
        {% endfor %} 
    </div>
</body>
</html>







